@import "tailwindcss";

@theme {
  --color-text-main: #1e1e1e;
  --color-text-secondary: #656b77;
  --color-border: #e2e8f0;
  --color-background-base: #f5f7fa;
  --color-primary: #0060de;
  --color-primary-dark: #003e99;
  --color-error: #c42e30;
  --color-success: #22c55e;
}

@theme inline {
  --font-manrope: var(--font-manrope);
}

body {
  font-family: var(--font-manrope);
  color: var(--color-text-main);
}

h1 {
  @apply text-[2rem] font-bold leading-10.5 lg:text-[3.5rem] lg:leading-16;
}

h2 {
  @apply text-[1.5rem] font-semibold leading-8 lg:text-[2.5rem] lg:leading-13;
}

h3 {
  @apply text-[1.25rem] font-semibold leading-7 lg:text-[1.75rem]  lg:leading-9.5;
}

h4 {
  @apply text-[1.125rem] font-semibold leading-7 lg:text-[1.375rem] lg:leading-7.5;
}

h5 {
  @apply text-[1rem] font-bold leading-6.5 lg:text-[1.125rem] lg:leading-5.5;
}
@layer utilities {
  .bg-gradient-404 {
    background: linear-gradient(180deg, #0060de 0%, #7eacdd 100%);
  }
}
