@import "tailwindcss";

:root {
  --font-manrope: 'Manrope', sans-serif;
}

@theme {
  --color-text-main: #1E1E1E;
  --color-text-secondary: #656B77;
  --color-border: #E2E8F0;
  --color-background-base: #F5F7FA;
  --color-primary: #0060DE;
  --color-primary-dark: #003E99;
  --color-error: #C42E30;
  --color-success: #22C55E;
}

body {
  font-family: var(--font-manrope);
  color: var(--color-text-main);
}


h1 {
  @apply text-[3.5rem] leading-16;
}
h2 {
  @apply text-[2.5rem] leading-13;
}
h3 {
  @apply text-[1.75rem] leading-9.5;
}
h4 {
  @apply text-[1.375rem] leading-7.5;
}
h5 {
  @apply text-[1.125rem] leading-7;
}